<header class="topbar">
  <div class="topbar-title">{{ titleSvc.title() }}</div>

  <div class="topbar-search">
    <i class="ti ti-search search-icon"></i>
    <input type="text" placeholder="Buscar produto, cliente, NF..." />
  </div>

  <div class="topbar-actions">
    <a routerLink="/nfe/nova" class="btn btn-ghost btn-sm">
      <i class="ti ti-plus"></i> Novo
    </a>
    <button class="btn-icon notif-dot" title="Notificações">
      <i class="ti ti-bell"></i>
    </button>
    <button class="btn-icon" title="Ajuda">
      <i class="ti ti-help"></i>
    </button>
  </div>
</header>
